.flyout {
  display: flex;
  height: 50px;
  align-items: center;
  position: fixed;
  bottom: 70px;
}

.flyout p {
  margin-right: 20px;
}

.flyout button {
  margin-right: 20px;
}

.flyout.light button {
  color: #3b3b3b;
  background-color: #e1e1e1;
}
